<div class='text-center mt-3'>
  <img
    src='/images/beers-image.png'
    class='rounded'
    alt='Responsive image'
    width='30%'
  />
</div>
<div class='d-flex justify-content-center mt-3'>
  <a href='/beers' class='btn btn-primary btn-lg mr-2'>Check the Beers!</a>
  <a href='/randombeer' class='btn btn-primary btn-lg ml-2'>Check a Random Beer</a></div>
<footer class='text-center mt-3'>
  <p>&copy; 2023 My Brewery. All rights reserved.</p>
</footer>